* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #d6d6d6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}
h1 {
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

.app {
  height: 100%;
  width: 100%;
  background: linear-gradient(#e66465, #9198e5);
}

.main-container {
  width: 90%;
  margin: 0 auto;
}

/* navbar */

.navbar {
  padding: 2rem 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
.navbar ul {
  display: flex;
  width: 100%;
  font-size: 0.7rem;
  list-style-type: none;
  justify-content: space-around;
}
.nav-list {
  width: 100%;
}

.list-hidden {
  display: none;
}

/* about */
.about {
  text-align: center;
}
#about-sub {
  padding: 1rem 0;
}

.tech-stack {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.tech-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}
.icon-btn {
  background-color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.icon-btn i {
  transition: all 1s;
  font-size: 1rem;
}

.icon-btn:hover .fa-html5 {
  color: #e34c26;
}
.icon-btn:hover .fa-js {
  color: #f0db4f;
}
.icon-btn:hover .fa-css3-alt {
  color: #264de4;
}
.icon-btn:hover .fa-react {
  color: #00d8ff;
}
.icon-btn:hover .fa-node-js {
  color: #3c873a;
}
.icon-btn:hover .fa-java {
  color: #f89820;
}
.icon-btn:hover .fa-python {
  color: #4b8bbe;
}

.main-tech,
.secondary-tech {
  width: 100%;
  text-align: center;
}

/* timeline */

.timeline {
  position: relative;
  max-width: 100%;
  z-index: 0;
  margin-left: 5%;
}

.container {
  padding: 1rem;
}

@keyframes text-box_fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.text-box {
  position: relative;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  z-index: 1;
  margin-left: 20px;
  opacity: 0;
}
#text-box-1 {
  animation: text-box_fade-in 2s forwards;
}
#text-box-2 {
  animation: text-box_fade-in 2s 2s forwards;
}
#text-box-3 {
  animation: text-box_fade-in 2s 4s forwards;
}
#text-box-4 {
  animation: text-box_fade-in 2s 6s forwards;
}
.text-box > span {
  color: #6b6b6b;
}
.text-box > h2 {
  margin-bottom: 8px;
}
.text-box > p {
  margin-top: 4px;
}
.text-box .triangle {
  top: 10%;
  left: -15px;
  position: absolute;
  width: 0;
  height: 0;
  border-right: 15px solid white;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
@keyframes line-animation {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

.line-axis {
  position: absolute;
  height: 100%;
  width: 6px;
  left: -10px;
  background-color: white;
  z-index: 1;
  animation: line-animation 8s forwards linear;
}
.logo {
  width: 40px;
  height: 40px;
  position: absolute;
  left: -62px;
  top: 8%;
  z-index: 0;
}
.logo img {
  object-fit: cover;
  width: 100%;
  border-radius: 50%;
}
/* contact */

.contact {
  padding: 1rem 0;
  background-color: white;
}

.contact > h1 {
  margin-bottom: 1rem;
}

.contact > a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  padding: 0.25rem 0;
  margin-left: 12px;
  cursor: pointer;
}

.contact > a:hover > p {
  color: #6b6b6b;
}

#contact-mail:hover > #contact-mail-icon {
  color: red;
}

#contact-phone:hover > #contact-phone-icon {
  color: black;
}
#contact-linkedin:hover > #contact-linkedin-icon {
  color: #0a66c2;
}
#contact-github:hover > #contact-github-icon {
  color: black;
}
