* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
:root {
  --dark-gray: #6b6b6b;
  --typing-duration: 6s;
  /* to 10 s */
  --welcome-page-duration: 1s;
  --html-color: #e34c26;
  --css-color: #264de4;
  --js-color: #f0db4f;
  --react-color: #00d8ff;
  --node-color: #3c873a;
  --java-color: #f89820;
  --python-color: #4b8bbe;
  --triangle-size: 18px;
  --start-gradient: #e66465;
  --end-gradient: #9198e5;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}
ul {
  list-style-type: none;
}
h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--dark-gray);
}

p {
  line-height: 1.5;
}

button {
  background-color: transparent;
  border: none;
}

section {
  max-width: 900px;
  margin: 0 auto;
}

.app {
  height: 100%;
  width: 100%;
  background: linear-gradient(var(--start-gradient), var(--end-gradient));
  transform: translateX(-100%);
  animation: app-slide-in 2s var(--welcome-page-duration) forwards;

  /* demo */
  /* animation: app-slide-in 2s forwards; */
}

@keyframes app-slide-in {
  to {
    transform: translateX(0);
  }
}

@media (max-width: 780px) {
  /* TODO */
  .app {
    animation-delay: 4s;
  }
}

/* welcome content */

#welcome-message {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(var(--start-gradient), var(--end-gradient));
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.about-entry-page {
  position: relative;
  display: flex;
  text-align: center;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.about-entry-page > h1 {
  position: relative;
  overflow: hidden;
  font-family: "Roboto Mono", monospace;
}

.about-entry-page > h1::before {
  content: "";
  position: absolute;
  width: 0.125em;
  height: 1em;
  left: 0;
  top: 5px;
  background: black;
  z-index: 1;
  opacity: 0;
  animation: typetext var(--typing-duration) steps(39) 1s forwards,
    blink 400ms 1s infinite;
}

.about-entry-page::after {
  content: "";
  position: absolute;
  height: 100vh;
  left: 0;
  right: 0;
  background: linear-gradient(var(--start-gradient), var(--end-gradient));
  animation: typetext var(--typing-duration) steps(39) 1s forwards;
}

#about-entry-page-sub {
  padding: 1rem 0;
  transform: translateY(4rem);
  opacity: 0;
  animation: fadeIn 2s var(--typing-duration) forwards;
}
@media (max-width: 780px) {
  .about-entry-page > h1::before,
  .about-entry-page::after {
    display: none;
  }
  #about-entry-page-sub {
    animation: fadeIn 2s forwards;
  }
}

@keyframes typetext {
  to {
    left: 100%;
  }
}
@keyframes blink {
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-container {
  width: 90%;
  margin: 0 auto;
}

.navbar {
  position: fixed;
  padding: 2rem 0;
  width: 100vw;
  display: flex;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: black;
  color: white;
  justify-content: space-around;
  opacity: 0;
}
.navbar li {
  transition: color 1s;
  color: white;
  font-size: 1.5em;
}

.navbar li:hover,
#nav-slider:hover {
  color: var(--start-gradient);
}
#nav-slider {
  cursor: pointer;
  transition: color 1s;
}
.animate-navbar {
  animation: fade-in-navbar 2s var(--welcome-page-duration) forwards;
}
.opacity-1 {
  opacity: 1;
}
#navbar-mobile {
  display: none;
}
@media (max-width: 780px) {
  #navbar {
    display: none;
  }
  #navbar-mobile {
    display: flex;
  }
}
.navbar ul {
  display: flex;
  width: 100%;
  font-size: 0.7rem;
  list-style-type: none;
  justify-content: space-around;
}

@keyframes fade-in-navbar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 20;
  transform: translateX(-100%);
  left: 0;
  top: 0;
}
.modal > i {
  position: absolute;
  top: 5%;
  right: 10%;
  font-size: 2rem;
  color: red;
  cursor: pointer;
}
.nav-modal-list {
  height: 100%;
}
.nav-modal-list > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 4rem;
}
.nav-modal-list li:hover {
  color: black;
}
.close-modal {
  animation: close-modal 2s forwards;
}
.open-modal {
  animation: open-modal 2s forwards;
}
.list-hidden {
  display: none;
}
.modal {
  background-color: white;
}
@keyframes close-modal {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes open-modal {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
/* about */

.about {
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  margin: 2rem 0;
  text-align: center;
}

.about p {
  margin: auto 0;
  font-size: 1.25em;
}
@media (min-width: 780px) {
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

#about-heading {
  padding-top: 2rem;
}
.about span {
  font-weight: 700;
}

#html-span {
  color: var(--html-color);
}
#css-span {
  color: var(--css-color);
}
#js-span {
  color: var(--js-color);
}

.tech-stack {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.tech-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}
.icon-btn {
  background-color: black;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.icon-btn i {
  transition: all 1s;
  font-size: 1rem;
}

.icon-btn:hover .fa-html5 {
  color: var(--html-color);
}
.icon-btn:hover .fa-js {
  color: var(--js-color);
}
.icon-btn:hover .fa-css3-alt {
  color: var(--css-color);
}
.icon-btn:hover .fa-react {
  color: var(--react-color);
}
.icon-btn:hover .fa-node-js {
  color: var(--node-color);
}
.icon-btn:hover .fa-java {
  color: var(--java-color);
}
.icon-btn:hover .fa-python {
  color: var(--python-color);
}

.main-tech,
.secondary-tech {
  width: 100%;
  text-align: center;
}

/* timeline */

.timeline {
  position: relative;
  max-width: 100%;
  margin: 2rem 0;
  margin-left: 5%;
}

.container {
  padding: 1rem;
}

@keyframes text-box_fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.text-box {
  position: relative;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  margin-left: 20px;
  opacity: 0;
}

#text-box-1 {
  animation: text-box_fade-in 2s forwards;
}
#text-box-2 {
  animation: text-box_fade-in 2s 2s forwards;
}
#text-box-3 {
  animation: text-box_fade-in 2s 4s forwards;
}
#text-box-4 {
  animation: text-box_fade-in 2s 6s forwards;
}
.text-box > span {
  color: var(--dark-gray);
}
.text-box > h2 {
  margin-bottom: 8px;
}
.text-box > p {
  margin-top: 4px;
}
.triangle {
  top: 10%;
  left: calc(var(--triangle-size) * -1);
  position: absolute;
  width: 0;
  height: 0;
  border-top: var(--triangle-size) solid transparent;
  border-bottom: var(--triangle-size) solid transparent;
  border-right: var(--triangle-size) solid white;
}

@keyframes line-animation {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

.line-axis {
  position: absolute;
  height: 100%;
  width: 6px;
  left: -10px;
  background-color: white;
  animation: line-animation 8s forwards linear;
}
.logo {
  width: 40px;
  height: 40px;
  position: absolute;
  left: -62px;
  top: 8%;
}
.logo img {
  object-fit: cover;
  width: 100%;
  border-radius: 50%;
}

@media (min-width: 780px) {
  .timeline {
    margin-left: 0;
  }
  .text-box {
    margin-left: 0;
  }
  .box-left {
    margin-right: 55%;
  }
  .box-right {
    margin-left: 55%;
  }
  .line-axis {
    left: calc(50% - 3px);
  }
  .logo-left {
    left: calc(100% + var(--triangle-size) + 6px);
  }
  .left-triangle {
    border-left: var(--triangle-size) solid white;
    border-right: none;
    left: 100%;
  }
  .right-triangle {
    left: calc((var(--triangle-size)) * -1);
  }
}

/* projects */
#projects-section {
  max-width: 1500px;
}
.projects {
  padding: 2rem 0;
  border-radius: 0.5rem;
}
.project {
  max-width: 900px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  margin: 1rem 0;
  border-radius: 5px;
  box-sizing: border-box;
}

#gymate-project {
  position: relative;
}

.project-section {
  position: relative;
  z-index: 0;
}

#ball-img {
  position: absolute;
  left: calc(((100% - 900px) / 2) + 900px - 150px);
  width: 300px;
  top: calc(50% - 150px);
  animation: spin 5s linear infinite;
}
#headphones-img {
  position: absolute;
  width: 200px;
  height: 250px;
  left: calc(((100% - 900px) / 2) - 100px);
  top: calc(50% - 125px);
  object-fit: cover;
  animation: shake 0.4s infinite;
}
#furniture-img {
  position: absolute;
  width: 400px;
  height: 300px;
  top: calc(50% - 150px);
  left: calc(((100% - 900px) / 2) + 900px - 200px);
  object-fit: cover;
}

#gym-hand-img {
  position: absolute;
  left: -300px;
  bottom: 0;
  width: 400px;
  object-fit: cover;
  z-index: -2;
}

.music-note {
  position: absolute;
  width: 50px;
  height: 70px;
  top: calc(50% - 35px);
  object-fit: cover;
  animation: slideTop 1s infinite;
}

#music-note-1 {
  left: calc(((100% - 900px) / 2) - 100px);
}
#music-note-2 {
  left: calc(((100% - 900px) / 2) - 50px);
  animation-delay: 0.25s;
}
#music-note-3 {
  left: calc(((100% - 900px) / 2));
  animation-delay: 0.5s;
}
#music-note-4 {
  left: calc(((100% - 900px) / 2) + 50px);
  animation-delay: 0.75s;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideTop {
  from {
  }
  to {
    transform: translateY(-200px);
    opacity: 0;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.screen-container {
  display: flex;
  justify-content: center;
}
.screen {
  margin-top: 1rem;
  width: 280px;
  height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
  border: 1px solid black;
}
.screen img {
  width: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  transition: bottom 11s;
}
#songuessr-img {
  bottom: -1103px;
}
#mammonous-img {
  bottom: -2281px;
}
#gymate-demo-img {
  bottom: -7121px;
}
#songuessr-img:hover,
#mammonous-img:hover {
  bottom: 0;
  transition: bottom 11s;
}
#gymate-demo-img:hover {
  bottom: 0;
  transition: bottom 30s linear;
}

.project-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
}
.project-links a {
  cursor: pointer;
}
.project-links > a > i {
  color: black;
}
.project-links > a > p {
  color: var(--dark-gray);
}
.used-tech i {
  color: var(--react-color);
}
.used-tech p {
  color: var(--dark-gray);
}
#fpltools-video {
  margin-top: 1rem;
}
.project-right-side > h2 {
  display: none;
}

@media (min-width: 750px) {
  .project-container {
    display: flex;
  }
  .project-left-side {
    width: 50%;
  }
  .project-right-side {
    margin: auto 0;
    width: 50%;
  }
  .project > h2 {
    display: none;
  }
  #fpltools-project > h2 {
    display: block;
  }
  .project-right-side > h2 {
    display: block;
    padding: 1rem 0;
  }
  .project-flex-end {
    display: flex;
    justify-content: flex-end;
  }
  .project-flex-end .project-left-side {
    order: 2;
  }
}

@media (max-width: 1460px) {
  .project-img {
    display: none;
  }
}

/* contact */
.contact {
  padding: 1rem 0;
  background-color: white;
}

.contact h1 {
  margin-bottom: 1rem;
}

.contact a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  padding: 0.25rem 0;
  margin-left: 12px;
  cursor: pointer;
}

.contact a:hover > p {
  color: var(--dark-gray);
}

#contact-mail:hover > #contact-mail-icon {
  color: red;
}

#contact-phone:hover > #contact-phone-icon {
  color: black;
}
#contact-linkedin:hover > #contact-linkedin-icon {
  color: #0a66c2;
}
#contact-github:hover > #contact-github-icon {
  color: black;
}

@media (min-width: 780px) {
  .contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
    gap: 1rem;
  }
  #contact-mail,
  #contact-linkedin {
    justify-content: flex-end;
  }
}
